* {
    box-sizing: border-box;
}

:root {
    --arrow-size: 300px;
    --angle: 0deg;
    --dash-angle: 0deg;
}

.title-text, .address-text {
    font-family: 'Courier New', monospace;
    margin: auto;
    font-weight: bold;
    text-align: center;
}
.title-text {
    font-size: 10vw;
}
.address-text {
    font-size: 5vw;
}
@media (min-width: 50em) {
    .title-text {
        font-size: 12vw;
    }
    .address-text {
        font-size: 6vw;
    }
}
@media (min-width: 75em) {
    .title-text {
        font-size: 4vw;
    }
    .address-text {
        font-size: 2vw;
    }
}

body {
    margin: 0px;
}

#header {
    top: 20%;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    transition: all 1s linear;
}

#gothere-button {
    font-family: 'Courier New', monospace;
    padding: 15px 25px;
    margin: auto;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    color: black;
    background-color: white;
    border: 1px black solid;
    transition: all 1s linear;
}

#gothere-button:hover {background-color: rgb(250, 250, 250)}

#gothere-button:active {
    background-color: rgb(250, 250, 250);
    transform: translateY(4px);
  }

.big-text, .medium-text {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.medium-text {
    top: 10%;
    font-size: 2vw;
}

#main-container {
    width: 100vw;
    height: 90vh;
    display: grid;
    grid-template-rows: 2fr 8fr;
    vertical-align: center;
    position: relative;
}

.arrow {
    width: 100%;
    height: 90%;
    grid-area: 2 / 1;
    top: 10%;
    padding-bottom: 0%;
    position: relative;
    overflow: clip;
    opacity: 0;
    transition: all 1s linear;
}

.map {
    width: 80%;
    height: 80%;
    left: 10%;
    right: 10%;
    top: 20%;
    bottom: 0%;
    grid-row: 2 / span 2;
    grid-column: 1;
    position: relative;
    opacity: 0;
    transition: all 1s linear;
}

#view-div {
    width: 100%;
    height: 90%;
    padding-bottom: 10%;
    position: relative;
}

#main-arrow {
    width: 100%;
    height: 100%;
    background-position: center;
    background-image: url("./arrow.svg");
    background-repeat: no-repeat;
    transform: scale(70%) rotate(var(--angle));
    transition: all 1s linear;
}

.transparent {
    opacity: 0%;
}

.opaque {
    opacity: 100%;
}

#dashboard-container {
    grid-area: 3 / 1;
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 100%;
    margin: auto;
}

.round-gravity {
    /*width: 20vw;
    height: 20vw;*/
    bottom: 5vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    align-items: top;
    /*border: 1px black solid;
    border-radius: 50%;*/
    transform: rotate(var(--dash-angle));
    transition: all 1s linear;
    text-align: center;
    font-size: 5vw;
    padding: 5vw;
}